@charset "UTF-8";
#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {line-height:0px;font-size:0px;display:block;width:100%;color:#fff;background:#222;text-align:center;}
#skip li a:focus {line-height:50px;font-size:20px;}


#wrap {z-index:1;position:relative;}
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:80px;background:#000;}
#wrap #header .wrap {width:100%;}
#wrap #header .wrap .gap {margin:0 35px;}
#wrap #header .wrap .gap .container {width:100%;text-align:center;}
/* 로고 */
#wrap #header .wrap .gap .container #logo {float:left;width:111px;height:36px;padding:22px 0;}
#wrap #header .wrap .gap .container #logo a {display:inline-block;}
#wrap #header .wrap .gap .container #logo a img {width:100%;}
/* 메인메뉴-GNB */
#wrap #header .wrap .gap .container #nav {display:inline-block;}
#wrap #header .wrap .gap .container #nav > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li {position:relative;display:inline-block;margin:0 15px;}/* 메뉴를 사이트 가운데 이동하기 위해 float보다는 inline-block사용함!  */
#wrap #header .wrap .gap .container #nav > ul > li > a {display:block;line-height:80px;font-weight:bold;color:rgba(255,255,255, 1);font-family:arial;font-size:14px;}
#wrap #header .wrap .gap .container #nav > ul > li > a:hover {color:rgba(255,255,255, .6);transition:color .3s;}



/* 서브메뉴 LNB */
#wrap #header .wrap .gap .container #nav > ul > li .sub {position:absolute;top:80px;left:50%;margin-left:-430px;width:860px;background:#fff;text-align:left;border-radius:5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2,
#wrap #header .wrap .gap .container #nav > ul > li .sub3, 
#wrap #header .wrap .gap .container #nav > ul > li .sub5, 
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {left:0;margin-left:-20px;width:240px;border-radius:5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {margin-left:-475px;width:950px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {margin-left:-430px;width:800px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {padding:50px 70px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 .sub-gap, 
#wrap #header .wrap .gap .container #nav > ul > li .sub3 .sub-gap,
#wrap #header .wrap .gap .container #nav > ul > li .sub5 .sub-gap,
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap {padding:15px 30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 .sub-gap {padding:50px 0 50px 70px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li {float:left;width:180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 .sub-gap > ul > li {width:220px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li {width:240px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li:first-child {width:180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl {font-family:arial;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li dl {width:auto;margin:0 15px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dt {line-height:40px;color:#000;font-size:14px;font-weight:bold;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd {position:relative;padding:7px 0;font-size:13px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a {display:block;padding:3px 0;color:#828282;font-weight:500;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a:hover {color:rgba(0,0,0, 1);transition:color .3s;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a i {float:right;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li dl dd a img {width:100%;}


#wrap #header .wrap .gap .container #nav > ul > li .sub1 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub3 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub5 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {display:none;}


/* 서브 - 서브 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub {position:absolute;top:-15px;left:210px;margin-left:1px;width:240px;background:#fff;border-radius:5px;}
/* 서브 5-1번 메뉴 포지션 왼쪽에 배치 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 {left:-270px;margin-left:-1px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap {padding:15px 30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li {position:relative;padding:7px 0px;width:180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a {display:block;padding:3px 0;color:#828282;font-weight:500;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a:hover {color:rgba(0,0,0, 1);transition:color .3s;}


/* 서브-서브-서브 (서브 5번) 포지션 왼쪽에 배치 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub {position:absolute;top:-15px;left:-270px;margin-left:-1px;width:240px;background:#fff;border-radius:5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap {padding:15px 30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li {padding:7px 0px;width:180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li a {display:block;padding:3px 0;color:#828282;font-weight:500;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li a:hover {color:rgba(0,0,0, 1);transition:color .3s;}


/* js 대상 show(),hide() */
/* sub2-sub */
.sub2-sub1 {display:none;}
.sub2-sub2 {display:none;}
.sub2-sub3 {display:none;}
.sub2-sub4 {display:none;}
/* sub3-sub */
.sub3-sub1 {display:none;}
.sub3-sub2 {display:none;}
.sub3-sub3 {display:none;}
.sub3-sub4 {display:none;}
.sub3-sub5 {display:none;}
.sub3-sub6 {display:none;}
.sub3-sub7 {display:none;}
.sub3-sub8 {display:none;}
/* sub5-sub */
.sub5-sub1 {display:none;}
.sub5-sub2 {display:none;}
.sub5-sub3 {display:none;}
.sub5-sub4 {display:none;}
.sub5-sub5 {display:none;}
/* sub6-sub12~13 */
.sub6-sub12 {display:none;}
.sub6-sub13 {display:none;}
/* sub5-sub10~13-sub */
.sub5-sub1-sub10 {display:none;}
.sub5-sub1-sub11 {display:none;}
.sub5-sub1-sub12 {display:none;}
.sub5-sub1-sub13 {display:none;}

/* 사이드메뉴-ASIDE */
#wrap #header .wrap .gap .container #aside {float:right;padding:32.5px 0;}
#wrap #header .wrap .gap .container #aside ul {width:auto;}
#wrap #header .wrap .gap .container #aside ul li {display:inline-block;margin:0 10px;}
#wrap #header .wrap .gap .container #aside ul li a {color:rgba(255,255,255, 1);font-size:15px;}
#wrap #header .wrap .gap .container #aside ul li a:hover {color:rgba(255,255,255, .6);transition:color .3s;}



#wrap #main   {z-index:2;position:relative;width:100%;}
#wrap #main #section1 {width:100%;height:1080px;/* js에서 창 높이로 잡아줄 것임 */}
#wrap #main #section1 .wrap {width:100%;height:100%}
#wrap #main #section1 .wrap .gap {width:100%;height:100%}
#wrap #main #section1 .wrap .gap .container {width:100%;height:100%}


/* 슬라이드 */
#wrap #main #section1 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;overflow:hidden;height:100%}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:0;width:500%;margin-left:-100%;height:100%}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {cursor:url(../img/icon-move-light.png),e-resize;position:relative;float:left;height:100%;/* js로 window height 창 높이 설정 (1080은 임시)*/width:1903px;/* 임시 창 넓이 */background:url(../img/home-interior-design-slider-img01.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image:url(../img/home-interior-design-slider-img01.jpg)}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../img/home-interior-design-slider-img02.jpg)}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../img/home-interior-design-slider-img03.jpg)}

/* 슬라이드 텍스트 박스 */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {position:absolute;bottom:0;right:0;width:600px;height:370px;background:#fff;} /* 부모한테 relative 주기! */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap {padding:98px 112px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap {text-transform:uppercase;}/* 텍스트 글자 대문자로 수정 */

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 {padding-bottom:40px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 {font-size:14px;font-weight:500;color:#c3964e;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span:nth-child(2) {display: inline-block;width:70px;text-align:center;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span i {display:inline-block;width:40px;height:1px;background:#ddd;} /* 인라인블럭 만드는이유는 가운데 정렬 쉽게 하려고! */


#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 {width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 h2 {float:left;font-size:48px;font-weight:700;color:#000;line-height:120%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span {float:right;display:block;width:60px;height:60px;margin:26px 0;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a {display:block;width:100%;height:100%;background:#000;text-align:center;line-height:57px;border-radius:50%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a i {color:#fff;font-size:15px;}

/* 슬라이드 화살표  */
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {z-index:2;position:absolute;top:50%;right:50px;}
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-next .next-btn {color:#fff;font-size:30px;}

#wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {z-index:2;position:absolute;top:50%;left:50px;}
#wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev .prev-btn {color:#fff;font-size:30px;}

/* 슬라이드 페이지 버튼  */
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap {z-index:2;position:absolute;bottom:50px;left:0;width:60px;text-align:center;left:50%;margin-left:-30px;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap li {display:inline-block;width:12px;height:12px;margin:0 4px;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap li a {display:block;width:100%;height:100%;background:rgba(255,255,255, .4);cursor:default;border-radius:50%;}
#wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap li a.addPage {background:rgba(255,255,255, 1);}


/* 섹션2 */
#wrap #main #section2 {z-index:2;position:relative;width:100%;padding:160px 0;background:#fff;}
#wrap #main #section2 .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section2 .wrap .gap {margin:0;}
#wrap #main #section2 .wrap .gap .container {width:100%;}
#wrap #main #section2 .wrap .gap .container > ul {width:100%;}
#wrap #main #section2 .wrap .gap .container > ul > li {float:left;width:33.333%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap {margin:0 15px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content {position:relative;width:100%;} /* img-box 붙잡기 */
/* 2-1 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content h2 {width:80%;font-size:25.2px;font-weight:700;color:#000;line-height:140%;padding-bottom:90px;} /* 넓이 80%로 잡아서 강제 줄바꿈 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content div {width:auto;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content div:first-of-type {padding-bottom:25px;} 
/* h2 (1) div(2) div(3) 인데 first-child는 h2 이고, div 타입 중에 첫번째! 가 div(2)가 됨 ㅠ = :nth-of-type(1)과 같고, :nth-child(2)도 같음 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content div > a {color:#c3964e;display:inline-block;padding-bottom:3px;border-bottom:1px solid #c3964e;font-size:15px;}
/* display~border까지 : a 링크 밑에 밑줄 긋기 위한 작업! 그냥 text-decoration으로 하면 밑줄이 글씨에 딱! 붙기 때문에 이렇게 처리함 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content div button {padding:10px 25px;border:2px solid #000;cursor:pointer;background:rgba(0,0,0, 0);transition:all .3s;text-transform:uppercase;font-size:11px;letter-spacing:0.6px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content div button:hover {background:rgba(0,0,0, 1);color:#fff;}
/* 2-2 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content h3 {font-size:16px;font-weight:bold;padding-bottom:40px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content p {font-size:15px;color:#777;line-height:200%;width:85%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content p:nth-of-type(1) {padding-bottom:30px;}

/* 2-3 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box {position:absolute;top:0;left:0;width:100%;}/* absolute 처리 안하면 전체content박스가 이미지 길이만큼 다 길어져버림 relative로 하면 전체 박스가 이미지 길이만큼 잡혀버림*/
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box img {z-index:1;position:relative;width:100%;}                          /* absolute로 위에 부모에게만 가서 찰싹 걍 붙어있게함 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span {z-index:2;position:absolute;bottom:-9px;right:0;width:242px;height:120px;background:#f1edea;display:block;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a {display:block;width:100%;height:100%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap {display:block;padding:25px 35px 30px 35px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap > span.arrow-btn {position:relative;float:left;display:block;width:50px;height:50px;background:#000;border-radius:50%;text-align:center;line-height:50px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap > span.arrow-btn i {z-index:2;position:relative;color:#fff;font-size:20px;margin-left:2px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap > span.arrow-btn span.ani-zoom {z-index:1;position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:#000;border-radius:50%;
                                                                                                                                              transform:scale(0);opacity:1;/* 처음에는보인다,단 값이 0이라 점점 커지면서 보임 */transition:all 2.5s;animation:zoom 2.5s infinite;}
/* 애니메이션 키프레임 keyframes  @keyframes 지정한 애니 이름 {}*/

/* 벤더프리픽스 : 웹브라우저 구버전을 실행하는 플리필 */
@-webkit-keyframes zoom { /*사파리, 크롬 */
    0%   {transform:scale(0);opacity:1;} /* from */
    100% {transform:scale(2);opacity:0;} /* to */
}
@-ms-keyframes zoom { /*익스프로러 */
    0%   {transform:scale(0);opacity:1;} 
    100% {transform:scale(2);opacity:0;} 
}
@-moz-keyframes zoom { /*파이어폭스? */
    0%   {transform:scale(0);opacity:1;} 
    100% {transform:scale(2);opacity:0;} 
}
@-o-keyframes zoom { /*오페라 */
    0%   {transform:scale(0);opacity:1;} 
    100% {transform:scale(2);opacity:0;} 
}
/* 디폴트 */
@keyframes zoom { /* 키프레임 : 영화처럼 화면 쪼개준다? */
    0%   {transform:scale(0);opacity:1;} /* 처음 from */
    100% {transform:scale(2);opacity:0;} /* 마지막 to */
}

#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap > span.arrow-btn:hover span.ani-zoom {transform:scale(2);opacity:0;/* scale이 커지면서 opacity는 사라짐 */} /* opacity 0 -> 1로 바뀜 즉, fadeOut임 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span a > span.link-gap > span:last-child {float:left;color:#000;font-weight:600;font-size:14px;text-transform:uppercase;margin-left:10px;padding-top:11px;line-height:140%;}

/* 섹션3 */
#wrap #main #section3 {z-index:1;position:relative;width:100%;padding:247px 0 130px 0;background:#f1edea;overflow:hidden;}
#wrap #main #section3 .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section3 .wrap .gap {margin:0;}
#wrap #main #section3 .wrap .gap .container {width:100%;}
/* 섹션 3-1 */
#wrap #main #section3 .wrap .gap .container .deco-title {position:absolute;top:-60px;left:0;}
#wrap #main #section3 .wrap .gap .container .deco-title > h2 {font-size:150px;font-weight:700;color:#fff;letter-spacing:-5px;}
/* 섹션 3-2 */
#wrap #main #section3 .wrap .gap .container .content {width:100%;text-align:center;}
#wrap #main #section3 .wrap .gap .container .content > h5 {font-size:15px;color:#c3964e;font-weight:500;padding-bottom:30px;}
#wrap #main #section3 .wrap .gap .container .content > h2 {font-size:32.2px;color:#111;font-weight:700;}
/* 섹션 3-3 left 박스 */
#wrap #main #section3 .wrap .gap .container .slide-box {padding-top:130px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul {width:100%;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box {float:left;width:293px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap {margin:0 15px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box {position:relative;width:100%;height:326px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > h4 {padding-top:80px;font-size:15px;font-weight: 500;color:#666;padding-bottom:30px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > h2 {font-size:25.2px;font-weight:700;color:#111;line-height:140%;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div {position:absolute;left:0;bottom:20px;}
/* 섹션3-3 left 박스 화살버튼 */
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.prev-btn-box {display:inline-block;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.prev-btn-box > a.prev-btn {display:block;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.prev-btn-box > a.prev-btn i {color:#aaa;font-size:30px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.next-btn-box {display:inline-block;margin-left:30px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.next-btn-box > a.next-btn {display:block;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .left-box > .box-gap .content-box > div span.next-btn-box > a.next-btn i {color:#aaa;font-size:30px;}
/* 섹션 3-3 right 박스 슬라이드 */
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box {float:left;width:877px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap {margin:0 15px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box {position:relative;width:100%;height:326px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container {position:relative;left:73px;height:100%}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view {position:relative;width:calc(390px*3);overflow:hidden;height:100%;cursor:url(../img/icon-move-black.png), e-resize;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap {position:relative;left:0;width:calc(390px*12);height:100%;margin-left:calc(-390px*4);}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide {float:left;width:390px;height:100%;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap {margin:15px;height:296px;/* 반응형 시 js로 높이 잡아야함 */}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box {overflow:hidden;/* 글자가 밖에서 올라오는것처럼 보이니까 */width:auto;height:100%;border:1px solid #ccc;box-sizing:border-box;transition:all .6s;}/* 테두리가 포함된 넓이로 잡힘!! height:auto가 아닌 100%로 했음에도! */
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide:hover .slide-gap .slide-text-box {border:1px solid transparent;box-shadow:3px 3px 12px rgba(0,0,0, .10)/* 밑에그림자(왼오) */,-3px -3px 12px rgba(0,0,0, .10)/* 위에그림자(오왼) */;background:#fff;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap {margin-top:30px;padding:42px 56px;transition:all .6s;background:transparent;/* 투명 */} /* 박스 전체 올리는거 얘로 올리기 */
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide:hover .slide-gap .slide-text-box .slide-content-box-gap {margin-top:0;} 
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap > h3 {font-size:40px;color:#c3964e;font-weight:600;padding-bottom:30px;letter-spacing:-1px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap > h4 {font-size:16px;font-weight:600;text-transform:uppercase;color:#111;padding-bottom:20px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap > p {font-size:15px;color:#666;line-height:200%;padding-bottom:20px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap > span {margin-top:200px;opacity:0;transition:all .6s;display:inline-block;border-bottom:2px solid #c3964e;padding-bottom:4px;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide:hover .slide-gap .slide-text-box .slide-content-box-gap > span {margin-top:0;opacity:1;}
#wrap #main #section3 .wrap .gap .container .slide-box ul .right-box > .box-gap .content-box .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-text-box .slide-content-box-gap > span > a {color:#c3964e;font-size:14px;font-weight:600;text-transform:uppercase;letter-spacing:1px;}

/* 섹션4 */
#wrap #main #section4 {width:100%;padding:130px 0;background:#fff;}
#wrap #main #section4 .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section4 .wrap .gap {margin:0 15px;}
#wrap #main #section4 .wrap .gap .container {width:100%;height:578.375px;background:#99c;/* 임시 높이,배경 */}


#wrap #footer {z-index:1;position:relative;}
#wrap #footer .wrap {}
#wrap #footer .wrap .gap {}
#wrap #footer .wrap .gap .container {}